
body{
  font-family:Andalé Mono ,monospace ;
  margin: 0px;
  overflow: hidden;
}


nav a{
  display:block;
  float:right;
  margin-right: 80px;
  margin-top: -50px;
  background-color: hwb(190 0% 0%);
  text-decoration: none;
  color: rgb(0, 0, 255);
  border-radius: 20px;
  padding: 10px;
  transition: 0.2s ease-in-out;
}


nav a:hover{
transform: scale(1.1);
transition: 0.2s ease-in-out;
background-color: hwb(190 0% 12%);
}


.background-image{
  z-index:-1;
  position: fixed;
  width: 100%;
  
  display: block;
  top: 0;
}
 



header{
 background-color: rgba(0, 0, 0, 0.756);
  height: 110px;
 position: fixed;
 top: 0;
  left: 0;
  width: 1550px;
  z-index: 2;

}

main{
  margin-top:110px;

  width: 1550px;
  position: relative;
}












.download1{
  display: block;
  border: 1px solid black;
  height: 750px;
  width: 1550px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.289);
}




.download1 h1{
  margin-left: 40px;
  margin-top: 20px;
  font-size: 50px;
  transition: 0.2s ease-in-out;
}

.download1 p{
  margin-left: 40px;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.download1 img{
margin-left: 50px;
width:500px;
  border:10px solid black;
}

.download1 a{
  padding: 15px;
  width: 100px;
  background-color: hwb(143 0% 0%);
  text-decoration: none;
  color: rgb(4, 73, 4);
  position: absolute;
  bottom:160px;
  right:50px ;
  z-index: 1;
  font-size: 30px;
  border-radius: 20px;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.download1 a:hover{
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
 }
 

.download2{
  display: block;
  border: 1px solid black;
  height: 850px;
  width: 1550px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.289);

}

.download2 h2{
  margin-left: 40px;
  margin-top: 120px;
  font-size: 50px;
  transition: 0.2s ease-in-out;
}

.download2 p{
  margin-left: 40px;
  font-size: 20px;
  margin-top: 0px;
  transition: 0.2s ease-in-out;
}

.download2 img{
margin-left: 50px;
width:500px;
    border:10px solid black;
}

.download2 a{
  padding: 15px;
  width: 100px;
  background-color: hwb(143 0% 0%);
  text-decoration: none;
  color: rgb(4, 73, 4);
  position: absolute;
  bottom:160px;
  right:50px ;
  z-index: 1;
  font-size: 30px;
  border-radius: 20px;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.download2 a:hover{
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
 }
 

.download3{
  display: block;
  border: 1px solid black;
  height: 850px;
  width: 1550px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.289);
  
}

.download3 h3{
  margin-left: 40px;
  margin-top: 120px;
  font-size: 50px;
  transition: 0.2s ease-in-out;
}

.download3 p{
  margin-left: 40px;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.download3 img{
margin-left: 50px;
width:500px;
    border:10px solid black;
}

.Download3 a{
  padding: 15px;
  width: 300px;
  background-color: hwb(143 0% 0%);
  text-decoration: none;
  color: rgb(4, 73, 4);
  position: absolute;
  bottom:160px;
  right:50px ;
  z-index: 1;
  font-size: 30px;
  border-radius: 20px;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.download3 a:hover{
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
 }
 



p:hover{
  color:white;
  transition: 0.2s ease-in-out;
}

h1:hover{
  color:white;
  transition: 0.2s ease-in-out;
}
h2:hover{
  color:white;
  transition: 0.2s ease-in-out;
}
h3:hover{
  color:white;
  transition: 0.2s ease-in-out;
}


img:hover{
  transform:scale(1.1);
  transition: 0.2s ease-in-out;
}

img{
  transition: 0.2s ease-in-out;
}

header img{
  width: 80px;
  margin: 10px 0 0 20px ;
}

.main img:hover{
  transform: scale(1);
}
